name: Backend CD

on:
  pull_request:
    branches: ["Deployment-Branch"]
    paths:
      - "JobPortal/JobPortal/JobPortal.BackEnd/**"
      - ".github/workflows/backend-cd.yml"
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push backend image
        uses: docker/build-push-action@v6
        with:
          context: JobPortal/JobPortal/JobPortal.BackEnd/JobPortal
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/job-magnet-backend:latest

